USE [TuyenSinh]
GO
/****** Object:  Table [dbo].[THONGTIN]    Script Date: 13/05/2022 8:53:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTIN](
	[MAHS] [nvarchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[TENTRUONG] [nvarchar](500) NULL,
	[MANGANH] [nvarchar](50) NULL,
	[TENNGANH] [nvarchar](500) NULL,
	[TBTH] [float] NULL,
	[TBTHPT] [float] NULL,
	[NHOMSOTHICH] [nvarchar](500) NULL,
	[DACDIEMSOTHICH] [nvarchar](500) NULL,
	[KETQUA] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
 CONSTRAINT [PK_THONGTIN] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[THONGTIN] ([MAHS], [HOTEN], [NGAYSINH], [GIOITINH], [TENTRUONG], [MANGANH], [TENNGANH], [TBTH], [TBTHPT], [NHOMSOTHICH], [DACDIEMSOTHICH], [KETQUA], [MATKHAU]) VALUES (N'2000001', N'NGUYỄN THỊ KIM ANH', CAST(N'2002-01-31' AS Date), N'Nữ', N'TRƯỜNG ĐẠI HỌC KIẾN TRÚC THÀNH PHỐ HỒ CHÍ MINH', N'7580101', N'Kiến trúc', 8.9, 8.8, N'Nghệ thuật', N'Thích khám phá nhiều vấn đề mới', N'Hạnh phúc', N'123456')
INSERT [dbo].[THONGTIN] ([MAHS], [HOTEN], [NGAYSINH], [GIOITINH], [TENTRUONG], [MANGANH], [TENNGANH], [TBTH], [TBTHPT], [NHOMSOTHICH], [DACDIEMSOTHICH], [KETQUA], [MATKHAU]) VALUES (N'2000002', N'PHAN THỊ LAN ANH', CAST(N'2002-12-02' AS Date), N'Nữ', N'TRƯỜNG ĐẠI HỌC Y DƯỢC, ĐH HUẾ', N'7720501', N'Răng - Hàm - Mặt', 8.5, 8.4, N'Kỹ thuật', N'Tưởng tượng tốt, trí nhớ tốt, say mê, nghiêm túc khi làm việc', N'Hạnh phúc', N'123456')
INSERT [dbo].[THONGTIN] ([MAHS], [HOTEN], [NGAYSINH], [GIOITINH], [TENTRUONG], [MANGANH], [TENNGANH], [TBTH], [TBTHPT], [NHOMSOTHICH], [DACDIEMSOTHICH], [KETQUA], [MATKHAU]) VALUES (N'2000003', N'NGUYỄN THỊ BÌNH', CAST(N'2002-01-01' AS Date), N'Nữ', N'TRƯỜNG ĐẠI HỌC NGOẠI NGỮ - ĐH ĐÀ NẴNG', N'7220204CLC', N'Ngôn ngữ Trung Quốc (Chất lượng cao)', 8.6, 7.5, N'Xã hội', N'Sáng tạo, linh hoạt, thông minh, nhạy cảm với mọi việc', N'Không hạnh phúc', N'123456')
GO
